@use './color' as *;
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	font-family: 'Poppins';
	padding: 0;
}

body {
	min-height: 100vh;
	background: $black;
}


@media screen and (max-width: 768px) {
	html {
    font-size: 14px;
	}
}
